Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
IndentExternBlock: Indent
ColumnLimit: 100
NamespaceIndentation: All
PointerAlignment: Left
ReferenceAlignment: Left
PackConstructorInitializers: Never
AlignConsecutiveDeclarations: AcrossComments
AlignConsecutiveAssignments: AcrossComments
AlignConsecutiveBitFields: AcrossComments
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AlwaysBreakTemplateDeclarations: Yes
IndentPPDirectives: BeforeHash
PPIndentWidth: 4
AlignAfterOpenBracket: BlockIndent
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
BinPackParameters: false
BinPackArguments: false
EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: Always
AlignEscapedNewlines: Left
AlignOperands: AlignAfterOperator
AllowShortEnumsOnASingleLine: false
AllowShortLambdasOnASingleLine: Empty
BreakBeforeBraces: Attach
BreakConstructorInitializers: AfterColon
BreakStringLiterals: true
MaxEmptyLinesToKeep: 1
QualifierAlignment: Left
SeparateDefinitionBlocks: Always
UseTab: Never
IndentCaseLabels: true
