{
    "semi": true,
    "useTabs": false,
    "endOfLine": "lf",
    "printWidth": 88,
    "overrides": [
        {
            "files": ["*.html", "*.js", "*.json", "*.prettierrc", "*.overrides"],
            "options": {
                "tabWidth": 4
            }
        },
        {
            "files": ["*.md"],
            "options": {
                "proseWrap": "always"
            }
        },
        {
            "files": ["*.css"],
            "options": {
                "tabWidth": 4
            }
        }
    ]
}
