-r src/requirements.txt
pytest==6.2.4
pytest-cov==3.0.0
rope==0.20.1
black==21.9b0
flake8==3.9.2
isort==5.9.3
rstfmt==0.0.10
pre-commit==2.15.0
wheel==0.37.0
setuptools==45
bump2version==1.0.1
requests==2.26.0
